<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
		<meta name="description" content="">
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/style.css?71">
<link rel="shortcut icon" href="favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">	</head>
	<body>
		<div class="wrapper" style="background: #f6f6f7">
			<main class="page">
<header class="header">
	<div class="_container">
		<div class="header__row">
			<div class="header__wrap">
				<a href="index.html" class="header__logo">
					<img src="img/logo.svg" alt="" title="">
				</a>
				<nav class="header__menu">
					<ul class="menu">
						<li class="_arrow icon-14"><a href="products.html"><span>Продукция</span></a>
							<ul class="sub-menu" hidden>
								<li><a href="products1.html"><img src="img/menu/1.png" alt="" title="">Аэропорты /вокзалы</a></li>
								<li><a href="products2.html"><img src="img/menu/2.png" alt="" title="">Здравоохранение</a></li>
								<li><a href="products3.html"><img src="img/menu/3.png" alt="" title="">Холлы / места рекреаций</a></li>
								<li><a href="products4.html"><img src="img/menu/4.png" alt="" title="">Аудитории /актовые залы</a></li>
								<li><a href="products5.html"><img src="img/menu/5.png" alt="" title="">Спортивные комплексы</a></li>
								<li><a href="products6.html"><img src="img/menu/6.png" alt="" title="">Бизнес - залы</a></li>
								<li><a href="products7.html"><img src="img/icons/46.svg" alt="" title="" class="_small">Антивандальные модели</a></li>
							</ul>
						</li>
						<li class="_arrow icon-02"><span>о нас</span>
							<ul class="sub-menu" hidden>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
							</ul>
						</li>
						<li class="_arrow icon-43"><span>ресурсы</span>
							<ul class="sub-menu" hidden>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
							</ul>
						</li>
						<li class="icon-52"><a href="blog1.html">блог</a> </li>
						<li class="icon-53"><a href="contacts.html">контакты</a></li>
						<li class="mob-contacts">
							<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
						</li>
					</ul>
				</nav>
				<div class="header__toggle block-click-toggle" data-target-el="header">
					<span>Меню</span>
					<div class="header__togglebtn"></div>
				</div>
			</div>
			<div class="header-block block-click-off" data-target-el="header">
				<form action="" id="header-search" method="post" class="header-search">
					<input id="search-inp" autocomplete="off" type="text" name="search-inp" placeholder="Поиск..." class="input">
					<div class="header-search__icon"></div>
				</form>
				<a href="cart.html" class="header-cart _active">
					<span class="header-cart__icon"></span>
					<span class="header-cart__val">10</span>
				</a>
				<a href="#" class="header__tel" data-da="mob-contacts,0,1024" data-popup="#callback"></a>
			</div>
		</div>
	</div>
</header>				<div class="_container">
					<div class="bread">
						<a href="index.html">Главная</a>
						<p>Корзина</p>
					</div>
				</div>
				<section class="cart">
					<div class="_container">
						<div class="cart__blocktitle">
							<h1 class="title cart__title">КОРЗИНА</h1>
						</div>
						<div class="cart-main">
							<div class="cart-main__line cart-main__line_head">
								<div class="cart-main__img">Товар</div>
								<div class="cart-main__name">Название</div>
								<div class="cart-main__quant">Количество</div>
								<div class="cart-main__price">Цена</div>
							</div>
							<div class="cart-main__line cart-main__line">
								<div class="cart-main__img">
									<img src="img/hero/1.webp" alt="" title="">
								</div>
								<div class="cart-main__name">Многоместная секция AERO 2П <span>Арт. МС8/1</span></div>
								<div class="cart-main__quant">
									<div class="quantity">
										<div class="quantity__button quantity__button_minus"></div>
										<div class="quantity__input">
											<input autocomplete="off" type="text" name="form[]" value="1">
										</div>
										<div class="quantity__button quantity__button_plus"></div>
									</div>
								</div>
								<div class="cart-main__price">по запросу</div>
							</div>
						</div>
						<div class="cart-main-mob">
							<div class="cart-main-mob__item">
								<div class="cart-main-mob__head">
									<div class="cart-main-mob__name">Товар/Название</div>
									<div class="cart-main-mob__quant">Кол - во</div>
								</div>
								<div class="cart-main-mob__main">
									<div class="cart-main-mob__name">Многоместная секция AERO 2П <span>Арт. МС8/1 lorem30</span> </div>
									<div class="cart-main-mob__row">
										<div class="cart-main-mob__left">
											<div class="cart-main-mob__img">
												<img src="img/hero/1.webp" alt="" title="">
											</div>
										</div>
										<div class="cart-main-mob__quant">
											<div class="quantity">
												<div class="quantity__button quantity__button_minus"></div>
												<div class="quantity__input">
													<input autocomplete="off" type="text" name="form[]" value="1">
												</div>
												<div class="quantity__button quantity__button_plus"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="cart-main-mob__price">
									<span>Цена</span>
									<span>по запросу</span>
								</div>
							</div>
							<div class="cart-main-mob__item">
								<div class="cart-main-mob__head">
									<div class="cart-main-mob__name">Товар/Название</div>
									<div class="cart-main-mob__quant">Кол - во</div>
								</div>
								<div class="cart-main-mob__main">
									<div class="cart-main-mob__name">Многоместная секция AERO 2П Арт. МС8/1  </div>
									<div class="cart-main-mob__row">
										<div class="cart-main-mob__left">
											<div class="cart-main-mob__img">
												<img src="img/hero/1.webp" alt="" title="">
											</div>
										</div>
										<div class="cart-main-mob__quant">
											<div class="quantity">
												<div class="quantity__button quantity__button_minus"></div>
												<div class="quantity__input">
													<input autocomplete="off" type="text" name="form[]" value="1">
												</div>
												<div class="quantity__button quantity__button_plus"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="cart-main-mob__price">
									<span>Цена</span>
									<span>по запросу</span>
								</div>
							</div>
						</div>
						<div class="cart-total">
							<h3>Сумма заказа</h3>
							<div class="cart-total__block">
								<div class="cart-total__items">
									<div class="cart-total__item">
										<div class="cart-total__name">Многоместная секция AERO 2П <span>Арт. МС8/1</span></div>
										<div class="cart-total__q">1 шт.</div>
									</div>
								</div>
								<div class="cart-total__total">
									<span>ИТОГО</span>
									<span>по запросу</span>
								</div>
								<div class="btn2 cart-total__btn" data-da="cart-total,10,700">
									<a href="cart2.html" class="btn">ОФОРМИТЬ ЗАЯВКУ</a>
								</div>
							</div>
						</div>
						<div class="info-block">
							<div class="info-block__icon">
								<img src="img/icons/51.svg" alt="" title="">
							</div>
							<h3>Нужна помощь <br><span>в оформлении заказа?</span></h3>
							<p>Свяжитесь с нашим менеджером в один клик, чтобы получить рекомендации, уточнить детали или узнать о наличии товара. Мы стремимся сделать процесс заказа максимально простым и удобным для вас. <b>Мы здесь, чтобы помочь!</b></p>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="_container">
					<div class="footer__head">
						<a href="index.html" class="footer__logo">
							<img src="img/logo2.svg" alt="" title="">
						</a>
						<button class="footer__top" data-goto=".header"></button>
					</div>
					<div class="footer__row">
						<div class="footer__col footer__col_cont" data-da="footer__row_mob,10,480">
							<div class="footer__block">
								<div class="footer__contacts">
									<div class="footer__contactsbl">
										<h4>Позвоните:</h4>
										<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
										<a href="tel:+7 (495) 662-56-31">+7 (495) 662-56-31</a>
									</div>
									<div class="footer__contactsbl">
										<h4>Напишите нам:</h4>
										<a href="mailto:info@comforum.ru">info@comforum.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<h4>продукция</h4>
							<ul>
								<li><a href="products1.html">Аэропорты /вокзалы </a></li>
								<li><a href="products2.html">Здравоохранение</a></li>
								<li><a href="products3.html">Холлы / места рекреаций</a></li>
								<li><a href="products4.html">Аудитории /актовые залы</a></li>
								<li><a href="products5.html">Спортивные комплексы</a></li>
								<li><a href="products6.html">Бизнес - залы</a></li>
								<li><a href="products7.html">Антивандальные модели</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<h4>РЕСУРСЫ</h4>
							<ul>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<ul>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
								<li><a href="blog1.html">Блог / новости</a></li>
								<li><a href="contacts.html">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="footer__row_mob">
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">продукция</button>
								<div class="block__text">
									<ul>
										<li><a href="products1.html">Аэропорты /вокзалы </a></li>
										<li><a href="products2.html">Здравоохранение</a></li>
										<li><a href="products3.html">Холлы / места рекреаций</a></li>
										<li><a href="products4.html">Аудитории /актовые залы</a></li>
										<li><a href="products5.html">Спортивные комплексы</a></li>
										<li><a href="products6.html">Бизнес - залы</a></li>
										<li><a href="products7.html">Антивандальные модели</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">о нас</button>
								<div class="block__text">
									<ul>
										<li><a href="about.html">О COMFORUM</a></li>
										<li><a href="park.html">Технологический парк</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">РЕСУРСЫ</button>
								<div class="block__text">
									<ul>
										<li><a href="collab.html">Условия сотрудничества</a></li>
										<li><a href="delivery.html">Доставка и оплата</a></li>
										<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
										<li><a href="pres.html">Каталоги и презентации</a></li>
										<li><a href="sert.html">Сертификаты</a></li>
										<li><a href="portfolio.html">Портфолио</a></li>
										<li><a href="colors.html">Цвета и материалы</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<a href="blog1.html">Блог / новости</a>
						</div>
						<div class="footer__col">
							<a href="contacts.html">Контакты</a>
						</div>
					</div>
					<div class="footer__bot">
						<div class="footer__gisp">
							<img src="img/gisp.png" alt="">
						</div>
						<!--<div class="footer__icons">
							<a href="#" target="_black" class="icon-33"></a>
							<a href="#" target="_black" class="icon-37"></a>
							<a href="#" target="_black" class="icon-48"></a>
							<a href="#" target="_black" class="icon-19"></a>
						</div>-->
						<a href="#" class="footer__map">Карта сайта </a>
						<a href="#" class="footer__policy">Политика конфиденциальности </a>
						<div class="footer__addr" data-da="footer__block,1,480">
							<p>г.Электросталь,</p>
							<p> ул.Красная, 11А</p>
							<span>©2024 <br>COMFORUM</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
<div id="callback" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>ОБРАТНЫЙ ЗВОНОК</span></div>
			<form action="" id="form-callback" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ЗАКАЗАТЬ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="cad" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>BIM/CAD МОДЕЛЬ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту данную модель мебели</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ BIM/CAD</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>КАТАЛОГА ПРОДУКЦИИ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту каталог продукции COMFORUM</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price2" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">запрос <span>прайса продукции comforum</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс <br>с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="comm" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>прайса продукции COMFORUM</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ ПРАЙС</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="portfol" aria-hidden="true" class="popup portfol-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="portfol-slider">
				<div class="swiper portfol-slider__container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
					</div>
				</div>
				<div class="button-prev swiper-button-prev8"></div>
				<div class="button-next swiper-button-next8"></div>
			</div>
			<p>Вокзал, зал ожидания многоместные секции Стилл+</p>
		</div>
	</div>
</div>
<div id="thanks" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка принята! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks2" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка оформлена! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks3" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Заявка принята!</div>
				<div class="thanks-popup__text">Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks4" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Запрос на отправку BIM/CAD принят! Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="popcart" aria-hidden="true" class="popup callback-popup popcart-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ТОВАР ДОБАВЛЕН <br><span>В ВАШУ КОРЗИНУ</span></div>
			<div class="cart-main">
				<div class="cart-main__line cart-main__line_head">
					<div class="cart-main__img">Товар</div>
				</div>
				<div class="cart-main__line cart-main__line_prod">
					<div class="cart-main__img">
						<img src="img/hero/1.webp" alt="" title="">
					</div>
					<div class="cart-main__name">Многоместная секция AERO 2П <span>Арт. МС8/1</span></div>
				</div>
				<div class="cart-main__line">
					<div class="cart-main__sum">В заказе один товар на сумму: <span>по запросу</span></div>
				</div>
			</div>
			<div class="popcart-popup__buttons">
				<a href="cart.html" class="btn btn_b order__btn">ПЕРЕЙТИ В ЗАКАЗ</a>
				<div class="btn2 product__btn2">
					<a href="products.html" class="btn btn2_r" target="_blank">ПРОДОЛЖИТЬ ПОКУПКИ</a>
				</div>
			</div>
		</div>
	</div>
</div><script src="js/jquery.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/vendors.js?13"></script>
<script src="js/app.js?13"></script>
<script src="js/custom.js?13"></script>	</body>
</html>