<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
		<meta name="description" content="">
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/style.css?71">
<link rel="shortcut icon" href="favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">	</head>
	<body>
		<div class="wrapper">
			<main class="page">
				<section class="page-hero page-hero_p">
					<div class="page-hero__bg" data-da="page-hero__da,0,480">
						<img src="img/park/bg.webp" alt="" title="">
					</div>
<header class="header">
	<div class="_container">
		<div class="header__row">
			<div class="header__wrap">
				<a href="index.html" class="header__logo">
					<img src="img/logo.svg" alt="" title="">
				</a>
				<nav class="header__menu">
					<ul class="menu">
						<li class="_arrow icon-14"><a href="products.html"><span>Продукция</span></a>
							<ul class="sub-menu" hidden>
								<li><a href="products1.html"><img src="img/menu/1.png" alt="" title="">Аэропорты /вокзалы</a></li>
								<li><a href="products2.html"><img src="img/menu/2.png" alt="" title="">Здравоохранение</a></li>
								<li><a href="products3.html"><img src="img/menu/3.png" alt="" title="">Холлы / места рекреаций</a></li>
								<li><a href="products4.html"><img src="img/menu/4.png" alt="" title="">Аудитории /актовые залы</a></li>
								<li><a href="products5.html"><img src="img/menu/5.png" alt="" title="">Спортивные комплексы</a></li>
								<li><a href="products6.html"><img src="img/menu/6.png" alt="" title="">Бизнес - залы</a></li>
								<li><a href="products7.html"><img src="img/icons/46.svg" alt="" title="" class="_small">Антивандальные модели</a></li>
							</ul>
						</li>
						<li class="_arrow icon-02"><span>о нас</span>
							<ul class="sub-menu" hidden>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
							</ul>
						</li>
						<li class="_arrow icon-43"><span>ресурсы</span>
							<ul class="sub-menu" hidden>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
							</ul>
						</li>
						<li class="icon-52"><a href="blog1.html">блог</a> </li>
						<li class="icon-53"><a href="contacts.html">контакты</a></li>
						<li class="mob-contacts">
							<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
						</li>
					</ul>
				</nav>
				<div class="header__toggle block-click-toggle" data-target-el="header">
					<span>Меню</span>
					<div class="header__togglebtn"></div>
				</div>
			</div>
			<div class="header-block block-click-off" data-target-el="header">
				<form action="" id="header-search" method="post" class="header-search">
					<input id="search-inp" autocomplete="off" type="text" name="search-inp" placeholder="Поиск..." class="input">
					<div class="header-search__icon"></div>
				</form>
				<a href="cart.html" class="header-cart _active">
					<span class="header-cart__icon"></span>
					<span class="header-cart__val">10</span>
				</a>
				<a href="#" class="header__tel" data-da="mob-contacts,0,1024" data-popup="#callback"></a>
			</div>
		</div>
	</div>
</header>					<div class="_container">
						<div class="bread">
							<a href="index.html">Главная</a>
							<p>Гарантия </p>
						</div>
					</div>
					<div class="page-hero__da"></div>
					<div class="page-hero__content">
						<div class="_container">
							<h1 class="title page-hero__title">Технологический парк <span>COMFORUM</span></h1>
						</div>
					</div>
				</section>
				<section class="park-block">
					<div class="_container">
						<div class="park-block__row">
							<h3 class="title park-block__title" data-watch data-watch-once>Высокотехно&shy;логичное производство</h3>
							<div class="text park-block__text" data-watch data-watch-once>
								<p><b>COMFORUM представляет собой мощный производственный комплекс, специализирующийся на изготовлении мебели на металлокаркасе.</b> </p>
								<p>Компания оснащена современными цехами металлообработки, сварки, деревообработки, покраски, швейного и сборочного производства. </p>
								<p>Мы объединили автоматизированные линии с роботизированными системами, позволяющими нам производить изделия с невероятной точностью и скоростью.</p>
								<p><b>Мы используем передовые технологии, чтобы гарантировать высокую эффективность производства и мировые стандарты выпускаемых изделий.</b></p>
							</div>
						</div>
					</div>
				</section>
				<section class="block-slider block-slider_p1" data-watch data-watch-once>
					<div class="_container">
						<div class="swiper block-slider__container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Металлообраба&shy;тывающий <b>ЦЕХ</b></span> Точность и автоматизация</div>
											<div class="block-slider__text">
												<p>В цехе металлообработки используются лазерные установки с ЧПУ и автоматические трубогибочные станки, обеспечивающие высокую производительность. Также имеются лентопильные автоматы и различные станки, прессы и машины, что позволяет качественно и быстро обрабатывать металл и подготавливать любые поверхности к дальнейшим этапам.</p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-1.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Сварочный <b>ЦЕХ</b> </span>Роботизированная эффективность</div>
											<div class="block-slider__text">
												<p>Сварочный цех оснащен высокотехнологичным роботом-сварщиком, что увеличивает скорость сварки на 40% и минимизирует человеческий фактор, а также другими полуавтоматическими машинами. Это ускоряет процесс производства, поддерживая высокие стандарты качества.</p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-2.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Покрасочный <b>цех</b> </span>Устойчивые покрытия и ассортимент цветов</div>
											<div class="block-slider__text">
												<p>Современные покрасочные камеры и полимеризационные печи конвейерного типа с высокой производительностью обеспечивают стойкое покрытие металлокаркасов. Мы предлагаем разнообразие цветов и текстур, гарантируя долговечность и устойчивость к внешним воздействиям. </p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-3.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Дерево&shy;обработка </span>Инновации в каждой детали</div>
											<div class="block-slider__text">
												<p>Цех деревообработки оснащен станками с ЧПУ, которые могут обрабатывать древесину и компакт-ламинат с превосходной точностью. Форматно-раскроечные и кромкооблицовочные станки позволяют выполнять сложные разрезы и отделку, что делает возможным производство широкого ассортимента деревянных компонентов для мебели. Заклепочный автомат помогает быстро и эффективно соединять детали, что ускоряет производство и улучшает качество сборки.</p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-4.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Швейный <b>цех</b> </span>Высокая производи&shy;тельность</div>
											<div class="block-slider__text">
												<p>Швейный цех оснащен высокоскоростными швейными машинами и автоматическими системами. Они работают с различными тканями и искусственной кожей, позволяя создавать разнообразные варианты обивки и текстильных деталей. Также в цехе есть станок с ЧПУ для точного раскроя пенополиуретана. </p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-1.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Сборочный <b>цех</b> </span>Быстрая сборка и усиленная упаковка</div>
											<div class="block-slider__text">
												<p>Сборочный цех COMFORUM использует современное пневмооборудование для быстрой и точной сборки изделий. Автоматические паллетупаковщики обеспечивают надежную упаковку, гарантирующую сохранность продукции при транспортировке. Это сокращает время подготовки к отгрузке и повышает удобство доставки.</p>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/1-1.webp" alt="" title="">
										</div>
									</div>
								</div>
							</div>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev1"></div>
								<div class="button-next swiper-button-next1"></div>
							</div>
						</div>
					</div>
				</section>
				<section class="block-slider block-slider_rev block-slider_red" data-watch data-watch-once>
					<div class="_container">
						<div class="swiper block-slider__container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>конструкторское бюро </span> Создаем новые модели для современных пространств</div>
											<div class="block-slider__block">
												<div class="block-slider__sub">
													<p>Креативность, професси&shy;онализм, инновации</p>
												</div>
												<div class="block-slider__text block-slider__text_sm">
													<p>Наше собственное конструкторское бюро обеспечивает динамичное развитие предприятия, постоянно совершенствуя и расширяя модельный ряд изделий. Благодаря этому мы оперативно реагируем на актуальные тенденции современного мебельного рынка. Наши специалисты работают над созданием уникальных инженерных и дизайнерских концепций, сочетая функциональность и эстетическую привлекательность.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/2-1.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Контроль качества </span> Многоступенчатая система контроля</div>
											<div class="block-slider__block">
												<div class="block-slider__sub">
													<p>Надежность, качество, уверенность</p>
												</div>
												<div class="block-slider__text block-slider__text_sm">
													<p>Каждый этап производства проходит тщательную проверку, начиная от входного контроля сырья и заканчивая финальной проверкой готовой продукции. Такой подход позволяет нам гарантировать высочайший уровень качества, минимизируя риски и обеспечивая соответствие продукции всем необходимым стандартам и требованиям.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/2-2.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Надежные поставщики</span> Качественные материалы от проверенных поставщиков</div>
											<div class="block-slider__block">
												<div class="block-slider__sub">
													<p>Безопасность и долговечность</p>
												</div>
												<div class="block-slider__text block-slider__text_sm">
													<p>Мы сотрудничаем исключительно с крупными и проверенными поставщиками, тщательно выбираем материалы, чтобы обеспечить надежность и безопасность нашей продукции. В результате мы производим мебель, которая служит долгие годы, сохраняя привлекательный внешний вид. Такая мебель устойчива к износу и обеспечивает нашим клиентам уверенность в безопасности для пользователей и окружающей среды.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/2-3.webp" alt="" title="">
										</div>
									</div>
								</div>
							</div>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev1"></div>
								<div class="button-next swiper-button-next1"></div>
							</div>
						</div>
					</div>
				</section>
				<section class="block-slider block-slider_p1" data-watch data-watch-once>
					<div class="_container">
						<div class="swiper block-slider__container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title"><span>Гарантия</span> Долговечность, на которую можно положиться</div>
											<div class="block-slider__block">
												<div class="block-slider__sub">
													<p><span>Выбирайте с </span>уверенностью</p>
												</div>
												<div class="block-slider__text">
													<p>COMFORUM предлагает надежную гарантию на все товары. 18 месяцев гарантии, начиная с момента получения. В случае необходимости, просто свяжитесь с нами, и мы обязательно решим ваш вопрос. Мы стремимся к тому, чтобы обеспечить максимальное удовлетворение клиента.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/3-1.webp" alt="" title="">
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="block-slider__left">
										<div class="block-slider__content">
											<div class="block-slider__title block-slider__title_sm"><span><b>Постгарантийное обслуживание</b></span> Продлите срок службы вашей мебели</div>
											<div class="block-slider__block">
												<div class="block-slider__sub">
													<p><span>Всегда </span>на вашей стороне</p>
												</div>
												<div class="block-slider__text">
													<p>Даже после окончания срока гарантии COMFORUM продолжает поддерживать своих клиентов. Наши специалисты готовы помочь вам с любыми вопросами и предложить решения, адаптированные к вашим потребностям. Свяжитесь с нами, чтобы узнать о возможностях постгарантийного обслуживания.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="block-slider__right">
										<div class="block-slider__img">
											<img src="img/park/3-2.webp" alt="" title="">
										</div>
									</div>
								</div>
							</div>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev1"></div>
								<div class="button-next swiper-button-next1"></div>
							</div>
						</div>
					</div>
				</section>
				<section class="clients">
					<div class="_container">
						<div class="clients__row">
							<div class="clients__left" data-watch data-watch-once>
								<h3 class="title clients__title">география <span>наших котентов</span></h3>
								<div class="clients__text">
									<p>Креслами и многоместными секциями Comforum оборудованы крупнейшие аэропорты, вокзалы, стадионы России, а также множество объектов социального назначения.</p>
									<p>Среди постоянных партнеров COMFORUM более 50 аэропортов России, включая хабы «Домодедово» и «Шереметьево»; более 140 жд вокзалов ОАО «Российские железные дороги»; более 500 учебных заведений, в их числе Московский государственный университет им. Ломоносова, известные частные и государственные школы;  более 30 спортивных объектов, среди которых олимпийские объекты в Сочи; а также крупные банки, комплексные учреждения и многие другие.</p>
									<p><b>Мы десятилетиями сохраняем доверие клиентов и создаем приятные и выгодные условия для сотрудничества.</b></p>
								</div>
							</div>
							<div class="clients-slider" data-watch data-watch-once>
								<div class="swiper clients-slider__container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="clients__logos">
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/1.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/2.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/3.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/4.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/5.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/6.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/7.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/8.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/9.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/10.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/11.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/12.webp" alt="" title="">
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="clients__logos">
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/1.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/2.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/3.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/4.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/5.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/6.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/7.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/8.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/9.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/10.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/11.webp" alt="" title="">
													</div>
												</div>
												<div class="clients-logo">
													<div class="clients-logo__row">
														<img src="img/clients/12.webp" alt="" title="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="howwework">
					<div class="howwework__bg">
						<img src="img/howwework/bg.webp" alt="" title="">
					</div>
					<div class="howwework__content">
						<div class="howwework__row">
							<div class="howwework__left" data-watch data-watch-once data-watch-threshold="0.3">
								<h3 class="title howwework__title">Как мы работаем</h3>
								<div class="howwework__items">
									<div class="howwework-item">
										<div class="howwework-item__row">
											<div class="howwework-item__icon">
												<img src="img/icons/45.svg" alt="" title="">
											</div>
											<div class="howwework-item__title">Серийное производство</div>
											<div class="text howwework-item__text">
												<p>Налаженное производство, усовершенство-ванные процессы, соответствие изделий международным и национальным тандартам безопасности и качества.</p>
											</div>
										</div>
									</div>
									<div class="howwework-item">
										<div class="howwework-item__row">
											<div class="howwework-item__icon">
												<img src="img/icons/47.svg" alt="" title="">
											</div>
											<div class="howwework-item__title">Цветовые решения</div>
											<div class="text howwework-item__text">
												<p>Широкая палитра цветов для металлокар-касов, а также разнообразие материалов и оттенков обивки для многоместных секций в общественных местах ожидания и отдыха.</p>
											</div>
										</div>
									</div>
									<div class="howwework-item">
										<div class="howwework-item__row">
											<div class="howwework-item__icon">
												<img src="img/icons/03.svg" alt="" title="">
											</div>
											<div class="howwework-item__title">Оптимизация затрат</div>
											<div class="text howwework-item__text">
												<p>Конкурентные цены с гибким подходом. Варианты экономии бюджета без ущерба качеству.</p>
											</div>
										</div>
									</div>
									<div class="howwework-item">
										<div class="howwework-item__row">
											<div class="howwework-item__icon">
												<img src="img/icons/21.svg" alt="" title="">
											</div>
											<div class="howwework-item__title">Полная поддержка</div>
											<div class="text howwework-item__text">
												<p>Комплексная поддержка от подбора до логистики. Гарантийное и постгарантий-ное обслуживание.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="howwework__right" data-watch data-watch-once data-watch-threshold="0.3">
								<div class="howwework__bg1">
									<img src="img/howwework/1.webp" alt="" title="">
								</div>
								<div class="howwework__block">
									<div class="title howwework__name">SPACE</div>
									<div class="howwework__product">
										<img src="img/howwework/2.webp" alt="" title="">
									</div>
									<div class="howwework__appl">
										<p>Оставьте заявку на сотрудничество, которое преобразит ваш бизнес!</p>
										<a href="#" class="btn btn_r howwework__btn" data-popup="#callback">оставить заявку</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="news"  style="background: #d1d1d1">
					<div class="_container">
						<div class="news__blocktitle">
							<h3 class="title news__title">НОВОСТИ</h3>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev3"></div>
								<div class="button-next swiper-button-next3"></div>
							</div>
						</div>
						<div class="news-slider" data-watch data-watch-once>
							<div class="swiper news-slider__container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="news-slider__row">
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/1.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/2.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/3.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Тенденция «Свет и устойчивое развитие»: минималистские цвета для гармоничных и экологичных интерьеров.</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="news-slider__row">
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/1.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/2.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/3.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Тенденция «Свет и устойчивое развитие»: минималистские цвета для гармоничных и экологичных интерьеров.</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="_container">
					<div class="footer__head">
						<a href="index.html" class="footer__logo">
							<img src="img/logo2.svg" alt="" title="">
						</a>
						<button class="footer__top" data-goto=".header"></button>
					</div>
					<div class="footer__row">
						<div class="footer__col footer__col_cont" data-da="footer__row_mob,10,480">
							<div class="footer__block">
								<div class="footer__contacts">
									<div class="footer__contactsbl">
										<h4>Позвоните:</h4>
										<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
										<a href="tel:+7 (495) 662-56-31">+7 (495) 662-56-31</a>
									</div>
									<div class="footer__contactsbl">
										<h4>Напишите нам:</h4>
										<a href="mailto:info@comforum.ru">info@comforum.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<h4>продукция</h4>
							<ul>
								<li><a href="products1.html">Аэропорты /вокзалы </a></li>
								<li><a href="products2.html">Здравоохранение</a></li>
								<li><a href="products3.html">Холлы / места рекреаций</a></li>
								<li><a href="products4.html">Аудитории /актовые залы</a></li>
								<li><a href="products5.html">Спортивные комплексы</a></li>
								<li><a href="products6.html">Бизнес - залы</a></li>
								<li><a href="products7.html">Антивандальные модели</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<h4>РЕСУРСЫ</h4>
							<ul>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<ul>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
								<li><a href="blog1.html">Блог / новости</a></li>
								<li><a href="contacts.html">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="footer__row_mob">
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">продукция</button>
								<div class="block__text">
									<ul>
										<li><a href="products1.html">Аэропорты /вокзалы </a></li>
										<li><a href="products2.html">Здравоохранение</a></li>
										<li><a href="products3.html">Холлы / места рекреаций</a></li>
										<li><a href="products4.html">Аудитории /актовые залы</a></li>
										<li><a href="products5.html">Спортивные комплексы</a></li>
										<li><a href="products6.html">Бизнес - залы</a></li>
										<li><a href="products7.html">Антивандальные модели</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">о нас</button>
								<div class="block__text">
									<ul>
										<li><a href="about.html">О COMFORUM</a></li>
										<li><a href="park.html">Технологический парк</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">РЕСУРСЫ</button>
								<div class="block__text">
									<ul>
										<li><a href="collab.html">Условия сотрудничества</a></li>
										<li><a href="delivery.html">Доставка и оплата</a></li>
										<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
										<li><a href="pres.html">Каталоги и презентации</a></li>
										<li><a href="sert.html">Сертификаты</a></li>
										<li><a href="portfolio.html">Портфолио</a></li>
										<li><a href="colors.html">Цвета и материалы</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<a href="blog1.html">Блог / новости</a>
						</div>
						<div class="footer__col">
							<a href="contacts.html">Контакты</a>
						</div>
					</div>
					<div class="footer__bot">
						<div class="footer__gisp">
							<img src="img/gisp.png" alt="">
						</div>
						<!--<div class="footer__icons">
							<a href="#" target="_black" class="icon-33"></a>
							<a href="#" target="_black" class="icon-37"></a>
							<a href="#" target="_black" class="icon-48"></a>
							<a href="#" target="_black" class="icon-19"></a>
						</div>-->
						<a href="#" class="footer__map">Карта сайта </a>
						<a href="#" class="footer__policy">Политика конфиденциальности </a>
						<div class="footer__addr" data-da="footer__block,1,480">
							<p>г.Электросталь,</p>
							<p> ул.Красная, 11А</p>
							<span>©2024 <br>COMFORUM</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
<div id="callback" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>ОБРАТНЫЙ ЗВОНОК</span></div>
			<form action="" id="form-callback" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ЗАКАЗАТЬ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="cad" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>BIM/CAD МОДЕЛЬ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту данную модель мебели</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ BIM/CAD</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>КАТАЛОГА ПРОДУКЦИИ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту каталог продукции COMFORUM</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price2" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">запрос <span>прайса продукции comforum</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс <br>с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="comm" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>прайса продукции COMFORUM</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ ПРАЙС</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="portfol" aria-hidden="true" class="popup portfol-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="portfol-slider">
				<div class="swiper portfol-slider__container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
					</div>
				</div>
				<div class="button-prev swiper-button-prev8"></div>
				<div class="button-next swiper-button-next8"></div>
			</div>
			<p>Вокзал, зал ожидания многоместные секции Стилл+</p>
		</div>
	</div>
</div>
<div id="thanks" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка принята! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks2" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка оформлена! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks3" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Заявка принята!</div>
				<div class="thanks-popup__text">Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks4" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Запрос на отправку BIM/CAD принят! Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="popcart" aria-hidden="true" class="popup callback-popup popcart-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ТОВАР ДОБАВЛЕН <br><span>В ВАШУ КОРЗИНУ</span></div>
			<div class="cart-main">
				<div class="cart-main__line cart-main__line_head">
					<div class="cart-main__img">Товар</div>
				</div>
				<div class="cart-main__line cart-main__line_prod">
					<div class="cart-main__img">
						<img src="img/hero/1.webp" alt="" title="">
					</div>
					<div class="cart-main__name">Многоместная секция AERO 2П <span>Арт. МС8/1</span></div>
				</div>
				<div class="cart-main__line">
					<div class="cart-main__sum">В заказе один товар на сумму: <span>по запросу</span></div>
				</div>
			</div>
			<div class="popcart-popup__buttons">
				<a href="cart.html" class="btn btn_b order__btn">ПЕРЕЙТИ В ЗАКАЗ</a>
				<div class="btn2 product__btn2">
					<a href="products.html" class="btn btn2_r" target="_blank">ПРОДОЛЖИТЬ ПОКУПКИ</a>
				</div>
			</div>
		</div>
	</div>
</div><script src="js/jquery.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/vendors.js?13"></script>
<script src="js/app.js?13"></script>
<script src="js/custom.js?13"></script>	</body>
</html>