<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная</title>
		<meta name="description" content="">
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/style.css?71">
<link rel="shortcut icon" href="favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">	</head>
	<body>
		<div class="wrapper" style="background: #f6f6f7">
			<main class="page">
				<section class="hero-products">
<header class="header">
	<div class="_container">
		<div class="header__row">
			<div class="header__wrap">
				<a href="index.html" class="header__logo">
					<img src="img/logo.svg" alt="" title="">
				</a>
				<nav class="header__menu">
					<ul class="menu">
						<li class="_arrow icon-14"><a href="products.html"><span>Продукция</span></a>
							<ul class="sub-menu" hidden>
								<li><a href="products1.html"><img src="img/menu/1.png" alt="" title="">Аэропорты /вокзалы</a></li>
								<li><a href="products2.html"><img src="img/menu/2.png" alt="" title="">Здравоохранение</a></li>
								<li><a href="products3.html"><img src="img/menu/3.png" alt="" title="">Холлы / места рекреаций</a></li>
								<li><a href="products4.html"><img src="img/menu/4.png" alt="" title="">Аудитории /актовые залы</a></li>
								<li><a href="products5.html"><img src="img/menu/5.png" alt="" title="">Спортивные комплексы</a></li>
								<li><a href="products6.html"><img src="img/menu/6.png" alt="" title="">Бизнес - залы</a></li>
								<li><a href="products7.html"><img src="img/icons/46.svg" alt="" title="" class="_small">Антивандальные модели</a></li>
							</ul>
						</li>
						<li class="_arrow icon-02"><span>о нас</span>
							<ul class="sub-menu" hidden>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
							</ul>
						</li>
						<li class="_arrow icon-43"><span>ресурсы</span>
							<ul class="sub-menu" hidden>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
							</ul>
						</li>
						<li class="icon-52"><a href="blog1.html">блог</a> </li>
						<li class="icon-53"><a href="contacts.html">контакты</a></li>
						<li class="mob-contacts">
							<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
						</li>
					</ul>
				</nav>
				<div class="header__toggle block-click-toggle" data-target-el="header">
					<span>Меню</span>
					<div class="header__togglebtn"></div>
				</div>
			</div>
			<div class="header-block block-click-off" data-target-el="header">
				<form action="" id="header-search" method="post" class="header-search">
					<input id="search-inp" autocomplete="off" type="text" name="search-inp" placeholder="Поиск..." class="input">
					<div class="header-search__icon"></div>
				</form>
				<a href="cart.html" class="header-cart _active">
					<span class="header-cart__icon"></span>
					<span class="header-cart__val">10</span>
				</a>
				<a href="#" class="header__tel" data-da="mob-contacts,0,1024" data-popup="#callback"></a>
			</div>
		</div>
	</div>
</header>					<div class="hero-products__top _container">
						<div class="bread">
							<a href="index.html">Главная</a>
							<p>Продукция COMFORUM</p>
						</div>
						<h1 class="title"> холлы <span>рекреации</span></h1>
					</div>
					<div class="hero-products__main">
						<div class="hero-products__bg">
							<img src="img/products/bg3.webp" alt="" title="">
						</div>
						<div class="hero-products__content hero-products__content_3">
							<div class="_container">
								<div class="hero-products__row">
									<div class="hero-products__left">
										<div class="hero-products__sub">Выходя за рамки <br>привычных <br>мест ожидания</div>
									</div>
									<div class="hero-products__text">
										<p>Уровень комфорта и привлекательный дизайн холлов, которые встречают ваших посетителей, демонстрируют вашу заботу об их благополучии. Для удобного общения и ожидания в вашем учреждении рассмотрите возможность оборудования вестибюлей и рекреаций мебелью от COMFORUM. В нашем каталоге представлены кресла, диваны и скамьи в классических и современных стилях, устойчивые к интенсивной эксплуатации. Мебель COMFORUM  создает ощущение уединения, сотрудничества или отдыха в зависимости от ваших целей.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="hero__down" data-goto=".products"></button>
				</section>
				<section class="products">
					<div class="_container">
						<div class="products-filters" data-one-select>
							<select name="form[]" class="products-filters__all" multiple>
								<option value="" selected disabled>ВСЕ ФИЛЬТРЫ</option>
								<option value="2">Боковые подлокотники</option>
								<option value="3">Боковые и внутренние подлокотники</option>
								<option value="4">Без подлокотников</option>
								<option value="5">Мягкие накладки на сиденья</option>
								<option value="6">ППУ накладки на сиденья</option>
								<option value="7">Без накладок на сиденья</option>
								<option value="8">Пластиковые сиденья</option>
								<option value="9">Секции со столиком</option>
								<option value="10">Многомесные секции</option>
								<option value="11">Диваны</option>
								<option value="12">Лавки</option>
								<option value="13">Пуфы</option>
							</select>
							<select name="form[]" class="products-filters__sort">
								<option value="" selected disabled>сортировать по</option>
								<option value="2">популярности</option>
								<option value="3">возрастанию цены</option>
								<option value="4">убыванию цены</option>
								<option value="5">новинкам</option>
							</select>
						</div>
						<div class="products-items">
							<a href="product.html" class="products-item">
								<div class="products-item__row">
									<div class="products-item__img">
										<img src="img/products/1.png" alt="" title="">
									</div>
									<div class="products-item__name">Многоместная секция Карнак</div>
									<div class="products-item__price">29 820 Р</div>
									<div class="icon-31"></div>
								</div>
							</a>
							<a href="product.html" class="products-item">
								<div class="products-item__row">
									<div class="products-item__img">
										<img src="img/products/1.png" alt="" title="">
									</div>
									<div class="products-item__name">Многоместная секция Карнак</div>
									<div class="products-item__price">29 820 Р</div>
									<div class="icon-31"></div>
								</div>
							</a>
							<a href="product.html" class="products-item">
								<div class="products-item__row">
									<div class="products-item__img">
										<img src="img/products/1.png" alt="" title="">
									</div>
									<div class="products-item__name">Многоместная секция Карнак</div>
									<div class="products-item__price">29 820 Р</div>
									<div class="icon-31"></div>
								</div>
							</a>
							<a href="product.html" class="products-item">
								<div class="products-item__row">
									<div class="products-item__img">
										<img src="img/products/1.png" alt="" title="">
									</div>
									<div class="products-item__name">Многоместная секция Карнак</div>
									<div class="products-item__price">29 820 Р</div>
									<div class="icon-31"></div>
								</div>
							</a>
							<a href="product.html" class="products-item">
								<div class="products-item__row">
									<div class="products-item__img">
										<img src="img/products/1.png" alt="" title="">
									</div>
									<div class="products-item__name">Многоместная секция Карнак</div>
									<div class="products-item__price">29 820 Р</div>
									<div class="icon-31"></div>
								</div>
							</a>
						</div>
						<button class="btn btn_bl show__more">Показать ещё <span class="icon-1"></span></button>
					</div>
				</section>
				<section class="hits">
					<div class="_container">
						<div class="hits__blocktitle">
							<h3 class="title hits__title">ХИТЫ <span>НОВИНКИ</span></h3>
							<div class="hits__text">
								<p>Ожидать приёма у врача стало удобнее и мягче!</p>
							</div>
						</div>
						<div class="hits-slider">
							<div class="swiper hits-slider__container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="hits-slider__group">
											<div class="hits-slider__item" style="background: #d5cdc1;">
												<div class="hot-item__com">ПРОДУКТЫ <span>COMFORUM</span></div>
												<a href="#" class="hits-slider__img">
													<img src="img/hot/1-1.webp" alt="" title="">
												</a>
												<div class="hits-slider__content">
													<div class="hits-slider__block hits-slider__block_1">
														<div class="hot-item__label"><img src="img/icons/16.svg" alt="" title="">Новинка</div>
														<a href="#" class="btn hot-item__btn hot-item__btn_hid">подробнеe</a>
													</div>
													<div class="hot-item__block">
														<div class="hot-item__cat">
															<p>Кушетка-шезлонг</p>
														</div>
														<a href="#" class="hot-item__name">Либерти</a>
														<div class="hot-item__text">
															<p>Создана для комфортного ожидания</p>
														</div>
														<a href="#" class="btn hot-item__btn hot-item__btn1">подробнеe</a>
													</div>
												</div>
											</div>
											<div class="hits-slider__item" style="background: #c5cfdb;">
												<div class="hot-item__com">ПРОДУКТЫ <span>COMFORUM</span></div>
												<a href="#" class="hits-slider__img">
													<img src="img/hot/4.webp" alt="" title="">
												</a>
												<div class="hits-slider__content">
													<div class="hits-slider__block">
														<div class="hot-item__label"><img src="img/icons/42.svg" alt="" title="">Хит продаж</div>
													</div>
													<div class="hot-item__block">
														<div class="hot-item__cat">
															<p>Многоместная секция</p>
														</div>
														<a href="#" class="hot-item__name">Travel М</a>
														<div class="hits-slider__block2">
															<a href="#" class="btn hot-item__btn">подробнеe</a>
															<div class="hot-item__text hot-item__text_sm">
																<p>Ожидать приёма у врача <br>стало удобнее и мягче!</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="hits-slider__group">
											<div class="hits-slider__item" style="background: #d5cdc1;">
												<div class="hot-item__com">ПРОДУКТЫ <span>COMFORUM</span></div>
												<a href="#" class="hits-slider__img">
													<img src="img/hot/1-1.webp" alt="" title="">
												</a>
												<div class="hits-slider__content">
													<div class="hits-slider__block hits-slider__block_1">
														<div class="hot-item__label"><img src="img/icons/16.svg" alt="" title="">Новинка</div>
														<a href="#" class="btn hot-item__btn hot-item__btn_hid">подробнеe</a>
													</div>
													<div class="hot-item__block">
														<div class="hot-item__cat">
															<p>Кушетка-шезлонг</p>
														</div>
														<a href="#" class="hot-item__name">Либерти</a>
														<div class="hot-item__text">
															<p>Создана для комфортного ожидания</p>
														</div>
														<a href="#" class="btn hot-item__btn hot-item__btn1">подробнеe</a>
													</div>
												</div>
											</div>
											<div class="hits-slider__item" style="background: #c5cfdb;">
												<div class="hot-item__com">ПРОДУКТЫ <span>COMFORUM</span></div>
												<a href="#" class="hits-slider__img">
													<img src="img/hot/4.webp" alt="" title="">
												</a>
												<div class="hits-slider__content">
													<div class="hits-slider__block">
														<div class="hot-item__label"><img src="img/icons/42.svg" alt="" title="">Хит продаж</div>
													</div>
													<div class="hot-item__block">
														<div class="hot-item__cat">
															<p>Многоместная секция</p>
														</div>
														<a href="#" class="hot-item__name">Travel М</a>
														<div class="hits-slider__block2">
															<a href="#" class="btn hot-item__btn">подробнеe</a>
															<div class="hot-item__text hot-item__text_sm">
																<p>Ожидать приёма у врача <br>стало удобнее и мягче!</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev4"></div>
								<div class="button-next swiper-button-next4"></div>
							</div>
						</div>
					</div>
				</section>
				<section class="news">
					<div class="_container">
						<div class="news__blocktitle">
							<h3 class="title news__title">НОВОСТИ</h3>
							<div class="slider-controls">
								<div class="button-prev swiper-button-prev3"></div>
								<div class="button-next swiper-button-next3"></div>
							</div>
						</div>
						<div class="news-slider" data-watch data-watch-once>
							<div class="swiper news-slider__container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="news-slider__row">
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/1.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/2.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="blog1.html" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/3.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Тенденция «Свет и устойчивое развитие»: минималистские цвета для гармоничных и экологичных интерьеров.</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="news-slider__row">
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/1.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/2.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Пространства, которые живут: взгляд на био&shy;обитаемость</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
											<a href="#" class="news-slider__item">
												<div class="news-slider__img">
													<img src="img/news/3.webp" alt="" title="">
												</div>
												<div class="news-slider__block">
													<div class="news-slider__text">
														<p>Тенденция «Свет и устойчивое развитие»: минималистские цвета для гармоничных и экологичных интерьеров.</p>
													</div>
													<div class="news-slider__arrow"></div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="_container">
					<div class="footer__head">
						<a href="index.html" class="footer__logo">
							<img src="img/logo2.svg" alt="" title="">
						</a>
						<button class="footer__top" data-goto=".header"></button>
					</div>
					<div class="footer__row">
						<div class="footer__col footer__col_cont" data-da="footer__row_mob,10,480">
							<div class="footer__block">
								<div class="footer__contacts">
									<div class="footer__contactsbl">
										<h4>Позвоните:</h4>
										<a href="tel:+7 (495) 662-56-30">+7 (495) 662-56-30</a>
										<a href="tel:+7 (495) 662-56-31">+7 (495) 662-56-31</a>
									</div>
									<div class="footer__contactsbl">
										<h4>Напишите нам:</h4>
										<a href="mailto:info@comforum.ru">info@comforum.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<h4>продукция</h4>
							<ul>
								<li><a href="products1.html">Аэропорты /вокзалы </a></li>
								<li><a href="products2.html">Здравоохранение</a></li>
								<li><a href="products3.html">Холлы / места рекреаций</a></li>
								<li><a href="products4.html">Аудитории /актовые залы</a></li>
								<li><a href="products5.html">Спортивные комплексы</a></li>
								<li><a href="products6.html">Бизнес - залы</a></li>
								<li><a href="products7.html">Антивандальные модели</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<h4>РЕСУРСЫ</h4>
							<ul>
								<li><a href="about.html">О COMFORUM</a></li>
								<li><a href="park.html">Технологический парк</a></li>
								<li><a href="collab.html">Условия сотрудничества</a></li>
								<li><a href="delivery.html">Доставка и оплата</a></li>
								<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
								<li><a href="pres.html">Каталоги и презентации</a></li>
							</ul>
						</div>
						<div class="footer__col">
							<ul>
								<li><a href="sert.html">Сертификаты</a></li>
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="colors.html">Цвета и материалы</a></li>
								<li><a href="blog1.html">Блог / новости</a></li>
								<li><a href="contacts.html">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="footer__row_mob">
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">продукция</button>
								<div class="block__text">
									<ul>
										<li><a href="products1.html">Аэропорты /вокзалы </a></li>
										<li><a href="products2.html">Здравоохранение</a></li>
										<li><a href="products3.html">Холлы / места рекреаций</a></li>
										<li><a href="products4.html">Аудитории /актовые залы</a></li>
										<li><a href="products5.html">Спортивные комплексы</a></li>
										<li><a href="products6.html">Бизнес - залы</a></li>
										<li><a href="products7.html">Антивандальные модели</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">о нас</button>
								<div class="block__text">
									<ul>
										<li><a href="about.html">О COMFORUM</a></li>
										<li><a href="park.html">Технологический парк</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div data-spollers="480,max" class="footer__col block">
							<div class="block__item">
								<button tabindex="-1" type="button" data-spoller class="block__title">РЕСУРСЫ</button>
								<div class="block__text">
									<ul>
										<li><a href="collab.html">Условия сотрудничества</a></li>
										<li><a href="delivery.html">Доставка и оплата</a></li>
										<li><a href="guarantee.html">Гарантия / постгарантийное обслуживание</a></li>
										<li><a href="pres.html">Каталоги и презентации</a></li>
										<li><a href="sert.html">Сертификаты</a></li>
										<li><a href="portfolio.html">Портфолио</a></li>
										<li><a href="colors.html">Цвета и материалы</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer__col">
							<a href="blog1.html">Блог / новости</a>
						</div>
						<div class="footer__col">
							<a href="contacts.html">Контакты</a>
						</div>
					</div>
					<div class="footer__bot">
						<div class="footer__gisp">
							<img src="img/gisp.png" alt="">
						</div>
						<!--<div class="footer__icons">
							<a href="#" target="_black" class="icon-33"></a>
							<a href="#" target="_black" class="icon-37"></a>
							<a href="#" target="_black" class="icon-48"></a>
							<a href="#" target="_black" class="icon-19"></a>
						</div>-->
						<a href="#" class="footer__map">Карта сайта </a>
						<a href="#" class="footer__policy">Политика конфиденциальности </a>
						<div class="footer__addr" data-da="footer__block,1,480">
							<p>г.Электросталь,</p>
							<p> ул.Красная, 11А</p>
							<span>©2024 <br>COMFORUM</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
<div id="callback" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>ОБРАТНЫЙ ЗВОНОК</span></div>
			<form action="" id="form-callback" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ЗАКАЗАТЬ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="cad" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ЗАКАЗАТЬ <span>BIM/CAD МОДЕЛЬ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту данную модель мебели</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="popup__agree">Нажимая кнопку «Заказать», вы даете свое согласие на обработку персональных данных и соглашаетесь с условиями публичной оферты.</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ BIM/CAD</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>КАТАЛОГА ПРОДУКЦИИ</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту каталог продукции COMFORUM</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="price2" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">запрос <span>прайса продукции comforum</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс <br>с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ КАТАЛОГ</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="comm" aria-hidden="true" class="popup callback-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title popup__title_pr">ЗАПРОС <span>прайса продукции COMFORUM</span></div>
			<div class="callback-popup__sub">Заполните форму, и мы вышлем вам на почту прайс с нашей продукцией</div>
			<form action="" id="form-price" method="post" class="form-popup">
				<div class="form__item">
					<input id="name" autocomplete="off" type="text" name="name" data-error="Введите имя" placeholder="Имя*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="tel" autocomplete="off" type="text" name="tel" data-error="Введите правильно телефон" placeholder="Телефон*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="email" autocomplete="off" type="text" name="email" data-error="Введите E-mail" placeholder="E-mail*" data-placeholder data-validate class="input">
				</div>
				<div class="form__item">
					<input id="org" autocomplete="off" type="text" name="org" placeholder="Компания" data-placeholder class="input">
				</div>
				<div class="form__item">
					<textarea id="text" name="text" placeholder="Комментарий"></textarea>
				</div>
				<div class="form__item">
					<div class="checkbox">
						<input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
						<label for="formAgreement" class="checkbox__label"><span>Я даю согласие на обработку персональных данных</span></label>
					</div>
				</div>
				<div class="btn2 infoblock__btn2">
					<button type="submit" name=submit class="btn">ПОЛУЧИТЬ ПРАЙС</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="portfol" aria-hidden="true" class="popup portfol-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="portfol-slider">
				<div class="swiper portfol-slider__container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="portfol-slider__img">
								<img src="img/portfol/big.webp" alt="" title="">
							</div>
						</div>
					</div>
				</div>
				<div class="button-prev swiper-button-prev8"></div>
				<div class="button-next swiper-button-next8"></div>
			</div>
			<p>Вокзал, зал ожидания многоместные секции Стилл+</p>
		</div>
	</div>
</div>
<div id="thanks" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка принята! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks2" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Заявка оформлена! Менеджер <br>свяжется с вами в рабочие дни <br>с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks3" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Заявка принята!</div>
				<div class="thanks-popup__text">Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="thanks4" aria-hidden="true" class="popup thanks-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="thanks-popup__bg">
				<img src="img/popbg.webp" alt="" title="">
			</div>
			<div class="thanks-popup__main">
				<div class="thanks-popup__logo">
					<img src="img/logo3.png" alt="" title="">
				</div>
				<div class="thanks-popup__title">Спасибо <br>за обращение!</div>
				<div class="thanks-popup__text">Запрос на отправку BIM/CAD принят! Менеджер свяжется с вами в рабочие дни с 8.00 - 17.00</div>
			</div>
		</div>
	</div>
</div>
<div id="popcart" aria-hidden="true" class="popup callback-popup popcart-popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close"></button>
			<div class="title popup__title">ТОВАР ДОБАВЛЕН <br><span>В ВАШУ КОРЗИНУ</span></div>
			<div class="cart-main">
				<div class="cart-main__line cart-main__line_head">
					<div class="cart-main__img">Товар</div>
				</div>
				<div class="cart-main__line cart-main__line_prod">
					<div class="cart-main__img">
						<img src="img/hero/1.webp" alt="" title="">
					</div>
					<div class="cart-main__name">Многоместная секция AERO 2П <span>Арт. МС8/1</span></div>
				</div>
				<div class="cart-main__line">
					<div class="cart-main__sum">В заказе один товар на сумму: <span>по запросу</span></div>
				</div>
			</div>
			<div class="popcart-popup__buttons">
				<a href="cart.html" class="btn btn_b order__btn">ПЕРЕЙТИ В ЗАКАЗ</a>
				<div class="btn2 product__btn2">
					<a href="products.html" class="btn btn2_r" target="_blank">ПРОДОЛЖИТЬ ПОКУПКИ</a>
				</div>
			</div>
		</div>
	</div>
</div><script src="js/jquery.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/vendors.js?13"></script>
<script src="js/app.js?13"></script>
<script src="js/custom.js?13"></script>	</body>
</html>